.sike{
    background-color: blueviolet;
}
.two{
    background-color: rebeccapurple;
}
.three{
    background-color: aqua;
}
.four{
    background-color: aquamarine;
}
.five{
    background-color: burlywood;
}
.six{
    background-color: burlywood;
}
.seven{
    background-color: blueviolet;
}
.eight{
    background-color: royalblue;
}
.nine{
    background-color: chocolate;
}
.ten{
    background-color: chocolate;
}
.eleven{
    background-color: chocolate;
}
.twelve{
    background-color: chocolate;
}
.thirteen{
    background-color: chocolate;
}
.fourteen{
    background-color: chocolate;
}
.fifteen{
    background-color: chocolate;
}